1. My language is Typescript
2. My build system is Vite
3. My testing framework is Vitest
4. My deployment platform is NextHub
5. My version control system is Git
6. My UI framework is Nuxt UI
7. My CSS framework is Tailwind CSS
8. I want to use latest version of all the tools, libraries and frameworks
9. My package manager is Pnpm
10. I am using fish shell in MacOS
